<!-- Formulario Usuario -->
<form class="form" [formGroup]="hosteleroForm" (ngSubmit)="registerHostelero(value)">
<table>
  <tr>
    <td><h2>Datos Personales</h2></td>
  </tr>
  <tr>
    <td>    <!-- Nombre -->
      <mat-form-field class="inpuTdtHostelero-full-width">
        <mat-label>Nombre</mat-label>
        <input [(ngModel)]="value.name" name="name" type="name" matInput formControlName="nameFormControl" maxlength="20" required>
        <mat-error *ngIf="hosteleroForm.controls['nameFormControl'].hasError('required')">
          *Nombre <strong>obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="hosteleroForm.controls['nameFormControl'].hasError('pattern')">
          No <strong>admitido</strong>
        </mat-error>
      </mat-form-field>
    </td>

    <td>    <!-- apellido -->
      <mat-form-field class="inpuTdtHostelero-full-width">
        <mat-label>Apellidos</mat-label>
        <input [(ngModel)]="value.lastName" name="lastName" type="lastName" matInput formControlName="lastNameFormControl" maxlength="20" required>
        <mat-error *ngIf="hosteleroForm.controls['lastNameFormControl'].hasError('required')">
          *Apellidos <strong>obligatorios</strong>
        </mat-error>
        <mat-error *ngIf="hosteleroForm.controls['lastNameFormControl'].hasError('pattern')">
          No <strong>admitido</strong>
        </mat-error>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="inpuTdtHostelero-full-width">
        <mat-label>Numero teléfono</mat-label>
        <input [(ngModel)]="value.numTelefono" name="numTelefono" type="tel" maxlength="9" matInput formControlName="numTelefono" required>
        <mat-error *ngIf="hosteleroForm.controls['numTelefono'].hasError('required')">
          Numero de teléfono<strong>obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="hosteleroForm.controls['numTelefono'].hasError('pattern')">
          No <strong>admitido</strong>
        </mat-error>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <h2>Nombre y dirección del local</h2>
    </td>
  </tr>
  <tr>
    <td>    <!-- Nombre local -->
      <mat-form-field class="inpuTdtHostelero-full-width">
        <mat-label>Nombre del local</mat-label>
        <input [(ngModel)]="value.nombreLocal" name="nombreLocal" type="text" matInput formControlName="nombreLocal" maxlength="35" required>
        <mat-error *ngIf="hosteleroForm.controls['nombreLocal'].hasError('required')">
          Nombre <strong>obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="hosteleroForm.controls['nombreLocal'].hasError('pattern')">
          No <strong>admitido</strong>
        </mat-error>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="inpuTdtHostelero-full-width">
        <mat-label>Calle</mat-label>
        <input [(ngModel)]="value.calle" name="calleFormControl" type="text" matInput formControlName="calleFormControl" maxlength="35" required>
        <mat-error *ngIf="hosteleroForm.controls['calleFormControl'].hasError('required')">
          Calle <strong>obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="hosteleroForm.controls['calleFormControl'].hasError('pattern')">
          No <strong>admitido</strong>
        </mat-error>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="inpuTdtHostelero-full-width">
        <mat-label>Numero</mat-label>
        <input [(ngModel)]="value.numCalle" name="numCalle" type="tel" maxlength="3" matInput formControlName="numCalle" required>
        <mat-error *ngIf="hosteleroForm.controls['numCalle'].hasError('required')">
          Numero <strong>obligatorio</strong>
        </mat-error>
        <mat-error *ngIf="hosteleroForm.controls['numCalle'].hasError('pattern')">
          No <strong>admitido</strong>
        </mat-error>
      </mat-form-field>
    </td>
  </tr>

  <tr>
    <td>
      <!-- select provincias -->
      <mat-form-field class="inpuTdtHostelero-full-width" appearance="fill">
        <mat-label>Provincia</mat-label>
        <mat-select name="provSelect" formControlName="provSelect" (selectionChange)="selectFun($event.value)" required>
          <mat-option *ngFor='let provincias of jsprovincias' value="{{provincias.id}}">
            {{provincias.nm}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <!-- select municipios -->
      <mat-form-field class="inpuTdtHostelero-full-width" appearance="fill">
        <mat-label>Localidad</mat-label>
        <mat-select name="locSelect" formControlName="locSelect" [(ngModel)]="value.localidad" required>
          <mat-option *ngFor='let municipios of nombreMun' value="{{municipios.id}}">
            {{municipios.nm}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
  
</table>
  <h2>Email y contraseña</h2>
    <!-- Gmail -->
    <mat-form-field class="inputHostelero-full-width">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="value.email" name="email" type="email" matInput formControlName="emailFormControl" placeholder="Ej. pat@example.com" maxlength="35" required>
      <mat-error *ngIf="hosteleroForm.controls['emailFormControl'].hasError('email') && !hosteleroForm.controls['emailFormControl'].hasError('required')">
        Introduzca un correo válido
      </mat-error>
      <mat-error *ngIf="hosteleroForm.controls['emailFormControl'].hasError('required')">
        *Email <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
    <br>

    <!-- Password -->
    <mat-form-field class="inputHostelero-full-width">
      <mat-label>Contraseña</mat-label>
      <input [(ngModel)]="value.passw" name="passw" type="password" matInput formControlName="passwFormControl" maxlength="40" required>
      <mat-error *ngIf="hosteleroForm.controls['passwFormControl'].hasError('required')">
        *Contraseña <strong>obligatorio</strong>
      </mat-error>
      <mat-error *ngIf="hosteleroForm.controls['passwFormControl'].hasError('pattern')">
        *Contraseña <strong>débil</strong> debe de contener mayúscula, minúscula, numero y al menos un carácter(.%@#$!*-)
      </mat-error>
    </mat-form-field>
    <br>
    <!-- Repeat password -->
    <mat-form-field class="inputHostelero-full-width">
      <mat-label>Confirma contraseña</mat-label>
      <input [(ngModel)]="value.passwR" name="passwR" type="password" matInput formControlName="passwRFormControl" maxlength="40" [errorStateMatcher]="matcher">
      <mat-error *ngIf="hosteleroForm.hasError('notSame')" >
        Contraseña no <strong>coincide</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <!-- Check Box -->
    <mat-checkbox required name="checkBoxControl" matInput formControlName="checkBoxControl">He leido y acepto las políticas de privacidad</mat-checkbox>
    <mat-error *ngIf="boolTerm">
      Debe de <strong>aceptar</strong> las politicas de privacidad.
    </mat-error>
    <br>
    <div id="invalidRegisterCredentials" *ngIf='logUserError$'>
        {{logUserError$}}
    </div>
    <br>
    <!-- submit button -->
    <button mat-stroked-button mat-button id="hos-bt" class="submit-btn" type="submit">Registrate</button>
    
  </form>