#headerLogo
  color: #fab017
  font-family: 'Lucida Sans'

// install button
.install-button
  height: 32px
  padding: 0 15px
  border-radius: 16px
  background-color: #fab017
  color: #ffffff
  margin-right: 1%
  position: fixed
  right: 0px
  font-family: 'Lucida Sans'
