<mat-card class="registerCard col-lg-8 col-md-8">
    <mat-card-header>
      <mat-card-title>Recuperación de contraseña:</mat-card-title>
    </mat-card-header>
    <mat-card-content class="formContainer">
        <!-- Formulario Usuario -->
        <form class="recoveryForm" [formGroup]="recoveryForm" (ngSubmit)="tryPasswordRec(email)">
            <!-- Gmail -->
            <mat-form-field class="inputUsers-full-width">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="email" name="email" type="email" matInput formControlName="emailFormControl" placeholder="Ej. pat@example.com" maxlength="35" required>
                <mat-error *ngIf="recoveryForm.controls['emailFormControl'].hasError('email') && !recoveryForm.controls['emailFormControl'].hasError('required')">
                  Introduzca un correo válido
                </mat-error>
                <mat-error *ngIf="recoveryForm.controls['emailFormControl'].hasError('required')">
                  *Email <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            <br>

            <button mat-stroked-button mat-button [disabled]="recoveryForm.invalid" class="submit-btn" type="submit">Recuperar Contraseñá</button>
        </form>
        <!-- ------------------------------ -->
    </mat-card-content>
  </mat-card>