<br><br>
<mat-card class="registerCard">
    <mat-card-header>
      <mat-card-title>Registrate como:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Usuario">

              <!-- Formulario Usuario -->
              <form class="form" [formGroup]="usersForm" (ngSubmit)="registerUsers(value)">

                <!-- Nombre -->
                <!-- <input type="text" [(ngModel)]="value.name" name="name"> -->

                <mat-form-field class="inputUsers-full-width">
                  <mat-label>Nombre*</mat-label>
                  <input [(ngModel)]="value.name" name="name" type="name" matInput formControlName="nameFormControl" maxlength="20">
                  <mat-error *ngIf="usersForm.controls['nameFormControl'].hasError('required')">
                    *Nombre <strong>obligatorio</strong>
                  </mat-error>
                </mat-form-field>

                <!-- apellido -->

                <mat-form-field class="inputUsers-full-width">
                  <mat-label>Apellidos*</mat-label>
                  <input [(ngModel)]="value.lastName" name="lastName" type="lastName" matInput formControlName="lastNameFormControl" maxlength="20">
                  <mat-error *ngIf="usersForm.controls['lastNameFormControl'].hasError('required')">
                    *Apellidos <strong>obligatorios</strong>
                  </mat-error>
                </mat-form-field>

                <!-- Gmail -->
                <mat-form-field class="inputUsers-full-width">
                  <mat-label>Email*</mat-label>
                  <input [(ngModel)]="value.email" name="email" type="email" matInput formControlName="emailFormControl" placeholder="Ej. pat@example.com" maxlength="35">
                  <mat-error *ngIf="usersForm.controls['emailFormControl'].hasError('email') && !usersForm.controls['emailFormControl'].hasError('required')">
                    Introduzca un correo válido
                  </mat-error>
                  <mat-error *ngIf="usersForm.controls['emailFormControl'].hasError('required')">
                    *Email <strong>obligatorio</strong>
                  </mat-error>
                </mat-form-field>

                <!-- Password -->
                <mat-form-field class="inputUsers-full-width">
                  <mat-label>Contraseña*</mat-label>
                  <input [(ngModel)]="passw" name="passw" type="password" matInput formControlName="passwFormControl" maxlength="20">
                  <mat-error *ngIf="usersForm.controls['passwFormControl'].hasError('required')">
                    *Contraseña <strong>obligatorio</strong>
                  </mat-error>
                </mat-form-field>
                <!-- Repeat password -->
                <mat-form-field class="inputUsers-full-width">
                  <mat-label>Repita contraseña*</mat-label>
                  <input [(ngModel)]="passwR" name="passwR" type="password" matInput formControlName="passwRFormControl" maxlength="20">
                  <mat-error *ngIf="usersForm.controls['passwRFormControl'].hasError('required')">
                    *Contraseña no <strong>coincide</strong>
                  </mat-error>
                </mat-form-field>
                <!-- submit button -->
                <br><br>
                <button mat-stroked-button mat-button class="submit-btn" type="submit">Registrate</button>
                
              </form>
              <!-- ------------------------------ -->

            </mat-tab>
            <mat-tab label="Hostelero"> Content 2 </mat-tab>
          </mat-tab-group>
    </mat-card-content>
  </mat-card>