<br><br>
<mat-card class="registerCard col-lg-8 col-md-8">
    <mat-card-header>
      <mat-card-title>Registrate como:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Usuario">

              <app-users-reg></app-users-reg>

            </mat-tab>
            <mat-tab label="Hostelero">

              <app-hoste-reg></app-hoste-reg>
              
            </mat-tab>
          </mat-tab-group>
    </mat-card-content>
  </mat-card>